.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.logo {
  width: 220px;
  height: auto;
  margin-bottom: 20px;
}

.form-title {
  font-size: 21px !important;
  letter-spacing: 6px;
  font-weight: 700;
  color: #494948;
  text-align: left;
}

.form-description,
.form-payment-plan,
.form-download-text {
  margin: 10px 0;
  font-size: 20px !important;
  color: #494948;
  font-weight: 500;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.phone-input-container {
  width: 100%;
  margin: 10px 0;
}

.phone-input-container .form-input {
  width: 100%; /* Adjust the width to accommodate the flag dropdown */
  /* position: relative; */
}

.phone-input-container .phone-input-button {
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


.form-button {
  position: relative; 
  padding: 14px 20px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 28px;
  overflow: hidden; /* Hide overflow to ensure animation stays within button */
}

.form-button:hover {
  background-color: #d00;
}

.form-button svg {
  margin-right: 8px;
}

.form-button:after {
  content: "";
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  width: 150%; /* Increase width to ensure coverage during animation */
  height: 150%; /* Increase height to ensure coverage during animation */
  left: -50%; /* Adjust to center animation */
  top: -50%; /* Adjust to center animation */
  transition: all .5s linear;
  transform: rotate(60deg);
  animation: changebg 1s infinite alternate;
}

@keyframes changebg {
  0% {
    transform: translateX(-100%) rotate(60deg); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(100%) rotate(60deg); /* Move to off-screen to the right */
  }
}


.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.phone-input{
  display: none; 
}

.phone-input-placeholder{
  display: none; 
}