.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.logo {
  width: 220px;
  height: auto;
  margin-bottom: 20px;
}

.form-title {
  font-size: 21px !important;
  letter-spacing: 6px;
  font-weight: 700;
  color: #494948;
  text-align: left;
}

.form-description,
.form-payment-plan,
.form-download-text {
  margin: 10px 0;
  font-size: 20px !important;
  color: #494948;
  font-weight: 500;
  text-align: left;
}

.form-download-text{
  font-weight: 600;
  margin-top: 28px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 100%;
  padding: 18px;
  font-size: 18px;
  margin: 10px 0;
  border: none;
  /* border-bottom: 1px solid #ccc; */
  /* border-radius: 4px; */

}


.react-tel-input .form-control{
  width: 100%;
  font-size: 18px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 10px;
  color: #494948;
}

.react-tel-input .form-control::placeholder{
  visibility: visible;
}

.react-tel-input .country-list .country {
  text-align: left;
}


.form-button {
  position: relative; 
  padding: 14px 20px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 28px;
  overflow: hidden; /* Hide overflow to ensure animation stays within button */
}

.form-button:hover {
  background-color: #d00;
}

.form-button svg {
  margin-right: 8px;
}

.form-button:after {
  content: "";
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  width: 150%; /* Increase width to ensure coverage during animation */
  height: 150%; /* Increase height to ensure coverage during animation */
  left: -50%; /* Adjust to center animation */
  top: -50%; /* Adjust to center animation */
  transition: all .5s linear;
  transform: rotate(60deg);
  animation: changebg 1s infinite alternate;
}

@keyframes changebg {
  0% {
    transform: translateX(-100%) rotate(60deg); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(100%) rotate(60deg); /* Move to off-screen to the right */
  }
}


.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.phone-input{
  display: none; 
}

.phone-input-placeholder{
  display: none; 
}

